[Unit]
Description=Amazon Kinesis Video Streams for WebRTC sample camera application
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/opt/amazon-kinesis-video-streams-webrtc-sdk-c/run-kvs-webrtc-client-master-sample.sh
 
[Install]
WantedBy=multi-user.target
