[Unit]
Description=KVS WebRTC sample application service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/home/pi/amazon-kinesis-video-streams-webrtc-sdk-c/run-kvs-webrtc.sh
 
[Install]
WantedBy=multi-user.target
